.spinner {
    width: 100px;
}
.spinner input {
    text-align: right;
}
.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}
.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 77%;
    max-width: 100%;
    padding: 9px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
    height: 24px;
}
.input-group-btn-vertical > .btn:last-child {
    margin-top: -6px;
    border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
    position: absolute;
    top: 0;
    left: 4px;
}

.selected {
    background-color: #ddd;
}
.not-selected {
    background-color: #fff;
}

.items-table #items .item, .boxed-up-items .boxed-item {
    cursor: pointer;
}

.order-confirmation-wrapper {
    display: none;
}

#box-up-modal .modal-body {
    min-height: 75vh;
    overflow: hidden !important;
}

#box-up-modal .modal-body .box-table {
    height: 30vh;
    overflow: auto;
}

#box-up-modal .modal-body .buttons {
    margin-top: 15px;
}