@media(max-width:1220px)
{
	.container{width:100%;}
	.slider_sec .carousel-control.right{right:0px;}
	.slider_sec .carousel-control.left{left:0px;}
	.header_in,.footer_in,.pagination_sec_in,.newitms_in,.vg_sec_in,.blk_sec_in,.news_sec_in{padding-left:15px;padding-right:15px;}
	.header_in nav ul.nav li{padding-right:28px;}	
	.bk_top{width:40px;height:40px;line-height:40px;bottom:55px;right:10px;}
	}
	@media(max-width:1024px)
	{
		.news_cnt{padding:40px 15px;}
	}
@media(max-width:991px)
{
	.header_in nav ul.nav li{padding-right:8px;}
	.header_in nav ul.nav li a{font-size:12px;}
	.tab_lnks .nav-tabs > li > a{padding:13px 15px;}
	.footer_in ul li{padding:0 5px;}
	}
@media(max-width:767px)
{
	h1 {font-size:58px;line-height:64px;}
	h2 {font-size:30px;line-height:36px;}
	h3{font-size:28px;line-height:34px;}
	.header_in{padding-bottom:6px;}
	.header_in nav ul.nav{padding:0 0 0 0;margin:0 -15px;background:#71113c;}
	.header_in nav ul.nav li{padding:0;}
	.header_in nav ul.nav li a{display:block;padding:5px;text-align:center;color:#fff;}
	.header_in nav ul.nav li a:hover,.header_in nav ul.nav li a:focus{background:#8c1a4d;color:#fff;}
	.header_in .navbar-collapse{margin:0 -15px;}
	.features_in{padding-top:20px;padding-bottom:20px;}
	.sew{background-position:10px center;}
	.ftur{background-position:5px center;}
	.slider_tag	{padding:15px 35px;}
	.slider_sec .carousel-control{width:30px;height:30px;line-height:30px;margin-top:-15px;}
	.blk_cnt.first{margin-right:0px;margin-bottom:15px;}
	.cloth{padding-top:20px;padding-bottom:20px;}
	.blk_sec_in{padding-top:15px;padding-bottom:15px;}
	.blk_cnt{padding-top:25px;padding-bottom:25px;}
	.newitms_in{padding-top:10px;padding-bottom:10px;}
	.vg_sec_in{padding-top:15px;padding-bottom:15px;}
	.news_sec_in{padding-top:20px;}
	.news_cnt{padding:40px 15px;position:relative;}
	.news_cnt:after{content: ''; background: rgba(255,255,255,0.4);opacity: 0.8; position: absolute; left: 0;top: 0; width: 100%;height: 100%;}
	.news_ind{position:relative;z-index:1;}
	.news_cnt .form-group .form-control{height:40px;}
	.news_cnt .form-group .form-control.btn_submit{font-size:12px;}
	.footer_in{padding:10px 0 40px 0; text-align:center;}
	.footer_logo{margin:0; position:static; display:block;}
	.footer_in ul{padding:15px 0 0 0; margin:0; float:none !important;display:inline-block;}
	.bk_top{width:30px;height:30px;line-height:30px;right:10px;bottom:10px;}
	.pic_gallery{margin:15px 0;}
	.contact_in{padding:20px 0;}
	.thumb_gal_sec_in ul{margin:0;}
	.thumbnails .slick-slide{margin:0 5px;}
	.tab_lnks .nav-tabs > li > a{padding:10px 8px;font-size:12px;}
	.description{padding:15px;}
	.description p{padding:0 0 15px 0;}
	.gallery_cnt h4{padding:0 0 20px 0;}
	.product_info{padding:0 0 20px 0;}
	.stock		{padding:0 0 20px 0;}
	.pagination_sec_in{padding-top:25px;padding-bottom:25px;}
	.product_info >li > ul > li{padding:5px 0;}
	.newitms_in.adjst1 h4{padding:0 0 20px 0;}
	.btn_send{width:130px;height:40px;display:block;margin:0 auto;}
	address{margin:0;}
	
	.grids {width:49.8%;}
	.gridl {width:100%;}
	
	.MagicZoom							{width:100%;}
	figure.mz-figure					{width:100%;}
	figure.mz-figure	img				{max-width:100% !important;max-height:100% !important;}	
	.mz-expand .mz-image-stage > figure{width:auto !important;max-width:none !important;max-height:none !important}
	
	}
	@media(max-width:599px)
	{
		.slider_cnt figure{height:400px;position:relative;overflow:hidden;}
		.slider_cnt img{position:absolute;right:0px;top:0px;width:auto;height:100%;}
		}
	
@media(max-width:479px)
{
	.news_sec_in p br{display:none;}
	.grids {width:100%;}
	.gridl {width:100%;}
	
	}
/*---------------------------------------------------*/
html {
}

body {
    color: #333;
    font-family: "Raleway", "Arial", Verdana, Tahoma;
    font-size: 12px;
    background: #fefefe;
    -webkit-text-size-adjust: 100%;
}

/*-----------LayOut Start here-----------------------*/
.wrapper {
    margin: 0 auto;
}

/**************************************************************************************/
* {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
    outline: 0 none !important;
}

a:hover, a:focus {
    color: #000;
    text-decoration: none;
}

h1 {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 38px;
    font-weight: 600;
    color: #000000;
}

h2 {
    padding: 0;
    margin: 0;
    font-family: 'Lusitana', serif;
    font-size: 62px;
    line-height: 64px;
    font-weight: 400;
    color: #ffffff;
}

h3 {
    padding: 0;
    margin: 0;
    font-family: 'Lusitana', serif;
    font-size: 36px;
    line-height: 38px;
    font-weight: 400;
    color: #000000;
}

h4 {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    line-height: 26px;
    font-weight: 600;
    color: #000000;
}

h5 {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 22px;
    font-weight: 800;
    color: #000000;
}

h6 {
    padding: 0;
    margin: 0;
    font-family: 'BrandonGrotesque-Light';
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: #eaeaea;
}

p {
    padding: 0;
    margin: 0;
    font-family: 'Lusitana', serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #959595;
}

.h3_secondery {
    padding: 0;
    margin: 0;
    font-family: 'Lusitana', serif;
    font-size: 34px;
    line-height: 38px;
    font-weight: 400;
    color: #ffffff;
}

.h3_ternery {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.h4_secondery {
    font-family: 'Lusitana', serif;
    font-weight: 400;
    color: #959595;
}

.h6_secondery {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: #000000;
}

.p_secondery {
    padding: 0;
    margin: 0;
    font-family: 'Lusitana', serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #000000;
}

ol, ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.last {
    margin: 0 !important;
}

.pad_last {
    padding: 0 !important;
}

.no_bg {
    background: none !important;
}

.no_bor {
    border: 0 none !important;
}

.color_blk {
    color: #000000;
}

.color_white {
    color: #ffffff;
}

.center_block {
    display: block;
    margin: 0 auto;
}

.tbl {
    display: table;
    width: 100%;
    height: 100%;
}

.tbl_cell {
    display: table-cell;
    height: 100%;
}

.v-aln-mid {
    vertical-align: middle;
}

.v-aln-bot {
    vertical-align: bottom;
}

.transit-effect {
    transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
}

.bdr-rds {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.img-stretch {
    width: 100%;
    height: auto;
}

header {
    display: block;
}

.header_in {
    padding: 6px 0 13px 0;
    position: relative;
}

.sign_bar {
    padding: 7px 0 7px 0;
    margin-right: -15px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.sign_bar li {
    padding: 0 15px;
}

.sign_bar li a {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #959595;
}

.sign_bar li a:hover {
    text-decoration: underline;
}

.sign_bar li a i.fa {
    margin-right: 3px;
}

.header_in .navbar-brand {
    height: auto;
    padding-left: 0;
    padding-right: 0;
}

.header_in nav {
    margin: 0;
    background: none;
    border: 0 none;
    border-radius: 0px;
}

.header_in nav ul.nav {
    padding: 66px 0 0 0;
}

.header_in nav ul.nav li {
    padding-right: 48px;
}

.header_in nav ul.nav li a {
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #000000;
}

.header_in nav ul.nav li a:hover, .header_in nav ul.nav li a:focus {
    color: #71113c;
}

.header_in .navbar-toggle, .header_in .navbar-toggle:hover, .header_in .navbar-toggle:focus {
    margin-top: 48px;
    margin-right: 0px;
    background: #71113c;
}

.slider_cnt {
    position: relative;
}

.slider_cnt img {
    width: 100%;
    height: auto;
}

.slider_tag {
    padding: 90px 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider_tag h2 {
    padding: 0 0 5px 0;
}

.slider_tag h3 {
    padding: 0 0 35px 0;
}

.btn_moreinfo {
    width: 170px;
    padding: 15px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #fff;
    background: #71113c;
}

.btn_moreinfo:hover {
    color: #ffffff;
}

.slider_sec .carousel-control {
    background: none;
    opacity: 1;
    width: auto;
    top: 50%;
    bottom: auto;
    width: 60px;
    height: 60px;
    background: #0a0a0a;
    line-height: 60px;
    margin-top: -30px;
}

.slider_sec .carousel-control.right {
    right: -10px;
}

.slider_sec .carousel-control.left {
    left: -10px;
}

.slider_sec .carousel-indicators li.active {
    background: #ffffff;
}

.slider_sec .carousel-indicators li {
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #e6e6e6;
}

.slider_sec .carousel-indicators {
    width: 100%;
    left: 0;
    margin: 0;
    bottom: 10px;
}

.features_in {
    padding: 50px 0 50px 0;
}

.features_in ul {
    padding: 0 15px;
}

.cloth {
    margin: 0;
    padding: 10px 0 10px 70px;
}

.cloth p {
    font-size: 16px;
}

.material {
    background: url(../images/material_icon.png) no-repeat left center;
}

.sew {
    background: url(../images/sew_icon.png) no-repeat left center;
}

.ftur {
    background: url(../images/feature_icon.png) no-repeat left center;
}

.vg_sec_in {
    padding: 50px 0 50px 0;
    overflow: hidden;
}

.vg_cnt {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

.vg_cnt_ab {
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.vg_cnt h5 {
    padding: 0 0 5px 0;
}

.vg_cnt p {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #ffffff;
}

.vg_cnt a {
    padding: 20px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.vg_cnt a strong {
    font-weight: 800;
}

.newitms_in {
    padding: 28px 0 38px 0;
    overflow: hidden;
}

.newitms_in h4 {
    padding: 0 0 13px 0;
}

.newitms_in p {
    padding: 0 0 60px 0;
}

.items_slider {
    margin: 0 -15px;
}

.items_slider .slick-slide {
    margin: 0 15px;
    outline: 0 none;
}

.items_slider .slick-slider {
    margin-bottom: 0px;
}

.items_slider .slick-dots li {
    width: auto;
    height: auto;
}

.items_slider .slick-dots {
    margin: 0;
    bottom: auto;
    top: -50px;
}

.items_slider .slick-dots li button {
    padding: 0;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #ababab;
}

.items_slider .slick-dots li.slick-active button {
    background: #000000;
}

.items_slider .slick-dots li button:before {
    display: none;
}

.item_cnt figure {
    padding: 0 0 25px 0;
}

.item_cnt h6 {
    padding: 0 0 5px 0;
}

.item_cnt span {
    font-family: 'Lusitana', serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #959595;
}

.item_cnt img {
    height: auto;
    width: 100%;
}

.blk_sec_in {
    padding: 75px 0 75px 0;
}

.blk_cnt {
    padding: 48px 15px 32px 15px;
    border: 1px solid #999999;
}

.blk_cnt.first {
    margin-right: -1px;
}

.blk_cnt h5 {
    padding: 0 0 15px 0;
}

.blk_cnt p {
    padding: 0 0 25px 0;
}

.blk_cnt .lnk_moreinfo {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #71113c;
}

.blk_cnt .lnk_moreinfo:hover {
    text-decoration: underline;
}

.news_sec_in {
    padding: 40px 0 20px 0;
    overflow: hidden;
}

.news_sec_in > ul {
    margin: 0 -15px;
}

.news_cnt {
    padding: 62px 50px 72px 50px;
    background: url(../images/news_bg.jpg) no-repeat right top;
    background-size: cover;
}

.news_cnt form {
    padding: 0 0 38px 0;
}

.news_cnt .form-group .form-control {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 17px;
    font-weight: 400;
    border-radius: 0px;
    height: 60px;
    border: 0 none;
    box-shadow: none;
}

.news_cnt .form-group .form-control.btn_submit {
    background: #71113c;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 600;
}

.pic_gallery {
    position: relative;
}

.pic_gallery ul {
    margin: -1px -1px -1px -1px;
}

.pic_gallery ul li figure {
    padding: 1px;
}

.gallery_tag {
    padding: 6px 15px;
    position: absolute;
    bottom: 1px;
    left: 0px;
    background: #252525;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
}

.gallery_tag:hover, .gallery_tag:focus {
    color: #ffffff;
    text-decoration: underline;
}

footer {
}

.footer_in {
    padding: 27px 0;
    position: relative;
    overflow: hidden;
}

.footer_in ul {
    padding: 30px 0 0 0;
    margin: 0 -15px;
}

.footer_in ul li {
    padding: 0 15px;
}

.footer_in ul li a {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    color: #959595;
}

.footer_in ul li a:hover {
    text-decoration: underline;
}

.footer_logo {
    position: absolute;
    left: 50%;
    margin-left: -57px;
}

.bk_top {
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #71113c;
    font-size: 16px;
    line-height: 60px;
    color: #ffffff;
    opacity: 0;
    transition: opacity ease-in-out 0.5s;
    z-index: 1;
}

.show .bk_top {
    opacity: 1;
}

.bk_top:hover, .bk_top:focus {
    color: #ffffff;
}

.product_info {
    padding: 0 0 60px 0;
}

.product_info > li {
    display: table;
    width: 100%;
}

.product_info > li > ul {
    display: table-row;
    width: 100%;
}

.product_info > li > ul > li {
    padding: 14px 0;
    display: table-cell
}

.product_info .fst {
    width: 100px;
}

.product_info ul li span {
    font-family: 'Lusitana', serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.pagination_sec_in {
    padding: 55px 0 40px 0;
    border-top: 1px solid #e5e5e5;
}

.pagination_sec_in ul li {
    padding: 0 6px 0 7px;
}

.btn_back {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #959595;
}

.pagination_sec_in ul li span {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #959595;
}

.pagination_sec_in ul li a {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #721c3c;
    transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
}

.pagination_sec_in ul li a:hover {
    color: #d7155d;
}

.thumb_gal_sec_in {
    overflow: hidden;
}

.thumb_gal_sec_in > ul {
    margin: 0 -15px;
}

.gallery_fig {
    margin: 0 0 10px 0;
    position: relative;
}

.gallery_fig:after {
    content: "";
    width: 70px;
    height: 70px;
    margin-left: -35px;
    margin-top: -35px;
    background: url(../images/flscreen_icon.png) no-repeat;
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.gallery_fig:hover:after {
    display: none;
}

.thumbnails {
    padding: 0 30px;
}

.thumbnails img {
    width: 100%;
    height: auto;
}

.thumbnails .slick-slide {
    margin: 0 15px;
}

.thumbnails .slick-slide:focus {
    outline: 0 none;
}

.thumbnails .slick-prev {
    width: 23px;
    height: 40px;
    display: inline-block;
    left: -30px;
    background: #0f0f0f;
    z-index: 1;
    margin-top: -20px;
}

.thumbnails .slick-prev:after {
    content: "\f104";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    font-size: 18px;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.thumbnails .slick-next {
    width: 23px;
    height: 40px;
    display: inline-block;
    right: -30px;
    background: #0f0f0f;
    margin-top: -20px;
}

.thumbnails .slick-next:after {
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    font-size: 18px;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.thumbnails .slick-prev.slick-disabled, .thumbnails .slick-next.slick-disabled {
    background-color: #e5e5e5;
}

.thumbnails .slick-next:before, .thumbnails .slick-prev:before {
    content: "";
}

.thumbnails .slick-slide figure {
    padding: 2px;
    border: 1px solid transparent;
}

.thumbnails .slick-slide.active figure {
    border-color: #959595;
}

.thumbnails .slick-slide .mz-thumb {
    display: block;
    width: 100%;
}

.gallery_cnt {
}

.gallery_cnt h3 {
    padding: 0 0 16px 0;
}

.gallery_cnt h4 {
    padding: 0 0 55px 0;
}

.clr_types {
    margin-left: -2px;
}

.clr_types > li {
    padding: 0 2px;
}

.clr_types li.active .img-thumbnail, .clr_types li:hover .img-thumbnail {
    border-color: #959595;
}

.clr_types .img-thumbnail {
    padding: 1px;
    border-radius: 0px;
    border: 1px solid transparent;
}

.stock {
    padding: 0 0 60px 0;
}

.stock li {
    padding-right: 25px;
}

.stock li a {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #7d7d7d;
}

.stock li.active a, .stock li a:hover {
    color: #000000;
}

.description {
    padding: 30px 30px 30px 30px;
    display: block;
}

.description p {
    padding: 0 0 28px 0;
    line-height: 28px;
}

.tab_lnks ul {
    border-bottom: 1px solid #e5e5e5;
}

.tab_lnks .nav-tabs > li > a {
    padding: 13px 25px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    font-weight: 600;
    border: 0 none;
    background: none;
}

.tab_lnks .nav-tabs > li.active > a, .tab_lnks .nav-tabs > li.active > a:hover, .tab_lnks .nav-tabs > li.active > a:focus, .tab_lnks .nav-tabs > li > a:hover {
    color: #000000;
    border: 0 none;
    background: none;
    border-bottom: 3px solid #721c3c;
}

.newitms_in.adjst1 ul {
    margin: 0 -15px;
}

.newitms_in.adjst1 h4 {
    padding: 0 0 43px 0;
}

.newitms_in.adjst1 .item_cnt {
    padding: 0 0 15px 0;
}

.banner_in.adjt2 {
    position: relative;
}

.banner_in.adjt2 .banner_title {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.contact_in {
    padding: 87px 0 12px 0;
}

.contact_lt, .contact_rt {
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact_form {
}

.contact_form .form-control {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    box-shadow: none;
    border-color: #000000;
    border-radius: 0px;
    height: 60px;
    color: #959595;
}

.contact_form .form-control.msg {
    height: 110px;
    resize: none;
}

.btn_send {
    margin: 15px 0 0 0;
    width: 170px;
    height: 60px;
    background: #71113c;
    border-radius: 0px;
    border: 0 none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    box-shadow: none;
}

.btn_send:hover, .btn_send:focus, .btn_send:active:focus {
    color: #ffffff;
    outline: 0 none;
}

address p {
    padding: 0 0 20px 0;
    font-family: 'Lusitana', serif;
    font-size: 20px;
    line-height: 22px;
    color: #3c3c3c;
}

address p a {
    color: #3c3c3c;
}

address p a:hover, address p a:focus {
    color: #3c3c3c;
    text-decoration: underline;
}

.footer_logo.adjst2 {
    position: static;
    margin: 0;
    display: block;
    text-align: center;
}

.errS, .f_success {
    padding: 5px 0 5px 0;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    color: #f00;
}

.f_success {
    color: #71113c;
}

.mz-expand-thumbnails .magic-thumbs .magic-thumb {
    border: 1px solid transparent;
    padding: 2px;
    height: auto;
}

.mz-expand-thumbnails .magic-thumbs .magic-thumb.magic-thumb-selected {
    border-color: #fff;
}

.grids {
    width: 33.3%;
    padding: 0 15px
}

.gridl {
    width: 66.6%;
    padding: 0 15px;
}

input[type="text"], input[type="password"], input[type="submit"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], textarea, button, select {
    -webkit-appearance: none; /*Safari/Chrome*/
    -moz-appearance: none; /*Firefox*/
    -ms-appearance: none; /*IE*/
    -o-appearance: none; /*Opera*/
    appearance: none;
    -webkit-border-radius: 0;
}

.btn-login {
    background-color: #71113c;
    border-color: #71113c;
    color: #fff;
}

.panel-primary {
    border-color: #71113c;
}

.panel-primary > .panel-heading {
    background-color: #71113c;
    border-color: #71113c;
    color: #fff;
}
.table-sortable .sortable-action {
  display: none; }
  .table-sortable .sortable-action.active {
    display: block; }

.nav.navbar-nav {
  text-transform: uppercase; }

.btn-file {
  position: relative;
  overflow: hidden; }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: left;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block; }

input[readonly] {
  background-color: white !important;
  cursor: text !important; }

button.mz-button.mz-button-close:before {
  content: 'X';
  color: #fff; }

.mz-expand a, .MagicZoom a {
  display: none !important;
  font-size: 0 !important;
  opacity: 0 !important; }

.mz-zoom-window span, .mz-zoom-window div, #Zoom-1 figure div a[href="http://www.magictoolbox.com/magiczoomplus/"] {
  display: none !important; }

.mb-0 {
  margin-bottom: 0; }

.ml-25 {
  margin-left: 25px; }

.product-photos figure {
  position: relative; }

.product-photos .remove-item {
  position: absolute;
  display: block;
  top: 0px;
  right: 0px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  color: red;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  background-color: white; }
